<div class="form-container">

  <h2>Registrar Alumno</h2>

  <form class="formulario">

    <input [(ngModel)]="alumno.dni" name="dni" placeholder="DNI" required>
    <input [(ngModel)]="alumno.nombres" name="nombres" placeholder="Nombres" required>
    <input [(ngModel)]="alumno.apellidos" name="apellidos" placeholder="Apellidos" required>
    <input [(ngModel)]="alumno.grado" name="grado" placeholder="Grado" required>
    <input [(ngModel)]="alumno.seccion" name="seccion" placeholder="Sección" required>

    <button type="button" (click)="guardar()">
      Guardar y Generar QR
    </button>

  </form>

<!-- 🔹 QR -->
<!-- 🔹 QR EN TIEMPO REAL -->
<div class="qr-section"
     *ngIf="alumno.dni || alumno.nombres || alumno.apellidos">

  <h3>QR en tiempo real</h3>

  <qrcode
    [qrdata]="qrData"
    [width]="200"
    [errorCorrectionLevel]="'M'">
  </qrcode>

</div>

</div>