<div class="layout">

  <header class="header">
    <div class="header-left">
      <button class="menu-btn" (click)="toggleMenu()">☰</button>
      <h1>EduAlerta</h1>
    </div>

    <div class="header-right">
      <div class="usuario" *ngIf="usuario">
        {{ usuario.usuario }} ({{ usuario.rol }})
      </div>

      <button (click)="cerrarSesion()" class="btn-logout">
        Cerrar Sesión
      </button>
    </div>
  </header>

  <nav class="sidebar" [class.open]="menuAbierto">

    <div class="sidebar-section" *ngIf="esAdmin">
      <span class="sidebar-title">Administración</span>

      <a routerLink="/dashboard" routerLinkActive="active-link" (click)="cerrarMenu()">
        🏠 Dashboard
      </a>

      <a routerLink="/crear-alumno" routerLinkActive="active-link" (click)="cerrarMenu()">
        ➕ Registrar Alumno
      </a>

      <a routerLink="/alumnos" routerLinkActive="active-link" (click)="cerrarMenu()">
        📋 Lista Alumnos
      </a>

      <a routerLink="/docentes" routerLinkActive="active-link" (click)="cerrarMenu()">
        👩‍🏫 Docentes
      </a>

      <a routerLink="/cursos" routerLinkActive="active-link" (click)="cerrarMenu()">
        📚 Cursos
      </a>

      <a routerLink="/lector-qr" routerLinkActive="active-link" (click)="cerrarMenu()">
        📷 Lector QR
      </a>
    </div>

    <div class="sidebar-section" *ngIf="esDocente">
  <span class="sidebar-title">Docente</span>

  <a routerLink="/panel-docente" routerLinkActive="active-link" (click)="cerrarMenu()">
    🧑‍🏫 Mi panel
  </a>

  <a routerLink="/alumnos" routerLinkActive="active-link" (click)="cerrarMenu()">
    📋 Alumnos
  </a>

  <a routerLink="/lector-qr" routerLinkActive="active-link" (click)="cerrarMenu()">
    📷 Escanear QR
  </a>
</div>

    <div class="sidebar-section" *ngIf="esPadre">
      <span class="sidebar-title">Familia</span>

      <a routerLink="/padres" routerLinkActive="active-link" (click)="cerrarMenu()">
        👨‍👩‍👦 Mis hijos
      </a>
    </div>

  </nav>

  <main class="content" (click)="cerrarMenuSiMobile()">
    <router-outlet></router-outlet>
  </main>

</div>